.panel.panel-default
  .panel-heading
    %b Your monthly summary

  %table.table.table-bordered.table-hover
    %tbody
      %tr
        %td Avg. in time
        %td= Attendance.monthly_average_check_in_time(@attendance_summary)
      %tr
        %td Avg. hours
        %td= Attendance.monthly_average_hours(@attendance_summary)
      %tr
        %td Total hours
        %td= Attendance.get_humanize_total_hour(@attendance_summary)