.card.mb-4
  .card-header
    %b Other links

  %ul.list-group.list-group-flush
    %li.list-group-item
      %a#rules{:href => 'javascript:void()', :type => 'button', 'data-bs-toggle' => 'modal', 'data-bs-target' => '#rules-modal'} Terms & conditions
