.modal#rules-modal{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Attendance rules
        %button.btn-close{ :type => "button", 'data-bs-dismiss' => 'modal', 'aria-label' => 'Close'}
      .modal-body
        %ol
          %li Office starts at 9 AM. Any entry after 10 AM will be treated as late entry.
          %li Multiple In-Out can be tracked in the same day.
          %li If anyone logs <b>In</b>, but forgets to log <b>Out</b>, two hours will be added as total hours in office on that day.
          %li If anyone leaves office within office time, s/he has to log <b>Out</b>. After coming back from outside s/he may log <b>In</b> again.
          %li After one successful <b>In</b> and <b>Out</b> in a day, if someone logs <b>In</b> and forgets to log <b>Out</b>, no extra hours will be added.
      .modal-footer
        %button.btn.btn-secondary{ :type => 'button', 'data-bs-dismiss' => 'modal'} Close
        