.panel.panel-default
  .panel-heading
    %b Rules & instructions

  %ul.list-group
    %li.list-group-item
      %a{:href=> '#salaat'} Salaat time
    %li.list-group-item
      %a{:href => '#rules'} Terms & conditions