.DS_Store
path/
# Ignore bundler config.
/.bundle

Silent-Face-Anti-Spoofing/
fastapi_service/venv/
fastapi_service/fastapi_service.log
fastapi_service/weights/
fastapi_service/test_face.jpg
fastapi_service/test.py

fastapi_service/__pycache__/
fastapi_service/**/*.pyc
fastapi_service/**/*.pyo
fastapi_service/**/*.pyd
fastapi_service/*.log
fastapi_service/alembic/versions/__pycache__/

# Ignore omniauth
/config/initializers/omniauth.rb
config/mailer_conf.yml
__pycache__/
# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/public/*
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.idea

#ignore vendor/bundle
vendor/bundle

#ignore bundle ruby
vendor/ruby

.byebug_history

# Ignore ruby version and gemset
.ruby-gemset
.rvmrc
vendor/ruby
vendor/bundle

# Ignore test coverage
coverage/*

# Ignore database.yml
config/database.yml

# Ignore application.yml
config/application.yml

# Ignore Mailer Configuration
config/mailer_conf.yml

# Ignore backup sql files
*.sql

# Ignore mysql 5.7 adapter initializer
config/initializers/abstract_mysql2_adapter.rb

# Ignore release version files
VERSION
release.sh
staging.sh
ssh.sh
.env



fastapi_service/.venv/

# OS-specific files
fastapi_service/.DS_Store

# Environment variables/secrets
fastapi_service/.env
fastapi_service/.env.*

# Jupyter notebook checkpoints
fastapi_service/.ipynb_checkpoints/

# Test and type-checking output
fastapi_service/.pytest_cache/
fastapi_service/.mypy_cache/
fastapi_service/.coverage
fastapi_service/coverage.xml
fastapi_service/htmlcov/

# Docker files (if not using Docker)
fastapi_service/.dockerignore
fastapi_service/Dockerfile
