.DS_Store
path/
# Ignore bundler config.
/.bundle

# Ignore omniauth
/config/initializers/omniauth.rb
config/mailer_conf.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/public/*
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.idea

#ignore vendor/bundle
vendor/bundle

#ignore bundle ruby
vendor/ruby

# Ignore ruby version and gemset
.ruby-version
.ruby-gemset
.rvmrc
vendor/ruby
vendor/bundle

# Ignore test coverage
coverage/*

# Ignore database.yml
config/database.yml

# Ignore application.yml
config/application.yml

# Ignore Mailer Configuration
config/mailer_conf.yml

# Ignore backup sql files
*.sql

# Ignore mysql 5.7 adapter initializer
config/initializers/abstract_mysql2_adapter.rb

# Ignore release version files
VERSION
release.sh
