
= form_for employees_path, method: :get , id:'filter-form' , class:'employee-filter-form' do |f|
  = f.select :employee_status, options_for_select([['Current Employees', 1], ['Ex Employees', 2]], params[:employee_status]), class: 'employee-info-filter'
