-if flash[:warning].present?
  .alert.alert-success
    = flash[:warning]
%h1
  %b= @user.name

- unless @user.profile_update_json.nil?
  = render partial: 'comparision'
- else
  = render partial: 'user'