%a{:class => 'navbar-brand', :href => "/"}
  - if @setting.present? && @setting.organization_logo.present?
    = image_tag @setting.organization_logo.url(:small), style: 'height: 35px; margin-top: 0px;'
  - else
    = "Logo"