%h1.fs-5 Filter Users
%hr

= form_tag team_user_path, method: :get, class: 'row g-3' do
  .col-auto
    = select_tag :status, options_for_select(["Ex Employees"], params[:status]), class: 'form-select', prompt: 'Current Employees'
  .col-auto
    = submit_tag 'Submit', class: 'btn btn-success'