-#= form_for(@leave, :role => "form") do |f|
-#  .form-group
-#    = f.label :start_date
-#    = f.date_select :start_date, :class => 'form-control', :placeholder => 'Select Start Date'
-#  .form-group
-#    = f.label :end_date
-#    = f.text_field :end_date, :class => 'form-control', :placeholder => 'Select Start Date'
-#  .form-group
-#    = f.label :half_day
-#    = f.check_box :half_day, :class => 'checkbox-inline'
-#  .form-group
-#    = f.label :reason
-#    = f.text_area :reason, :class => 'form-control'
-#  .form-group
-#    = f.label :leave_type
-#    = f.select :leave_type, Leave::LEAVE_TYPES, {}, {:class => 'form-control'}
-#  .form-group
-#    = f.submit 'Apply', :class => 'btn btn-primary'
-#
-#:javascript
-#  $(document).ready(function() {
-#      $('.datepicker').datepicker({
-#          format: 'mm/dd/yyyy',
-#          startDate: '-3d'
-#      })
-#  });
%p Under Development
