- @kpi_items.each do |kpi_item|
  - score       = ''
  - item_score  = @user_kpis.select{ |item| item["item_id"] == kpi_item.id }.first
  - score       = item_score['score'] unless kpi_item.blank?
  %hr
  .row
    .col-md-10
      %label= kpi_item.title 
      %p= kpi_item.description
    .col-md-2
      = "#{score} / 5"
      