.col-sm-3
  = link_to 'Accept', approve_leave_path(@leave), class: "btn btn-block btn-success mr-2 #{@leave.is_accepted? ? 'disabled' : ''}"
  = link_to 'Reject', reject_leave_path(@leave), class: "btn btn-block btn-danger #{@leave.is_rejected? ? 'disabled' : ''}"