.col-sm-3
  = link_to  'Accept', approve_leave_path(@leave), method: :post, remote: true, id: 'accept_leave',
             class: "btn btn-block btn-success #{@leave.is_accepted? ? 'disabled' : ''}",
             data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;Approving..." }

.col-sm-3
  = link_to  'Reject', reject_leave_path(@leave), method: :post, remote: true, id: 'reject_leave',
             class: "btn btn-block btn-danger #{@leave.is_rejected? ? 'disabled' : ''}",
             data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;Rejecting..." }
