%h1.page-title Leaves pending for your approval
%table.table.leave-log
  %thead
    %tr
      %th Name
      %th Leave Type
      %th Reason
      %th Status
  %tbody
    - @leaves.each do |leave|
      %tr
        %td= leave.user.name
        %td= leave.leave_type == Leave::CASUAL ? 'Casual' : 'Medical'
        %td= leave.reason
        %td
