%h2 Projects summary report
%hr

= render 'search_form'

%table.table
  %thead>
    %th Name
    %th Total hours
    %th Projects

  %tbody
  - @users.each do |user|
    %tr
      %td= user.name
      %td= total_working_hours(@timesheets[user.id])
      %td= user_timesheet_summary(@timesheets[user.id])
