.panel.panel-default
  .panel-heading
    %b Employees
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Action
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td
            = link_to 'Show', approval_chain_path(user)
            |
            = link_to 'Edit', edit_approval_chain_path(user)