.panel.panel-default
  .panel-heading
    %h4 Currently assigned users
  .panel-body
    - if @users
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Name
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.name
    - else
      %h5 No user assigned.

.panel.panel-default
  .panel-heading
    %h4 Assign Users
  .panel-body
    = form_tag assign_approval_chain_path(params[:id]) do
      = select_tag :employees,
                    options_from_collection_for_select(@available_users, :id, :name),
                    multiple: true
  .panel-footer
    = submit_tag 'Assign Path',
                  class: 'btn btn-primary'