= link_to 'Sign In with Google', user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-large btn-primary'
%hr
%h4.desktop-reminder
  Please Keep The Time Tracker Tab Open To Get Desktop Reminder For Namaz During Office.