.text-center.custom-font
  %h1 Nascenia Time & Leave Tracker
  %p Time & Leave tracking made smart!
  %hr
  = link_to 'Sign in with Google', user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-large btn-primary btn-sign-in'
  %hr
  %p Start timers and easily manage your existing time entries in just one tap.

-# Uncomment the lines below if you need to sign in using local accounts on development mode for testing purpose
-# Also carefully make sure these lines are not pushed or deployed uncommented

-#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#  %div
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true
-#
-#  %div
-#    = f.label :password
-#    %br/
-#    = f.password_field :password, autocomplete: 'off'
-#
-#  = f.submit 'Sign In'
