= form_tag holiday_scheme_path, method: :get, class: 'row g-3' do
  .col-auto
    = select_tag :employee_status, options_for_select([['Current Employees', 1],['Ex Employees', 2]], params[:employee_status]), class: 'form-select'
  .col-auto
    = submit_tag 'Submit', class: 'btn btn-primary'