.card
  .card-header
    %h2.fs-5 Create new holiday scheme
  
  .card-body
    = form_for(@holiday_scheme) do |f|
      .row.mb-3
        %label.col-sm-2.col-form-label 
          %span Name
          %span.text-danger *
        .col-sm-10
          = f.text_field :name, class: 'form-control', required: true
      .row.mb-3
        .col-sm-2.col-form-label
        .col-sm-10
          = f.submit 'Create', class: 'btn btn-primary'