body {
  padding-top: 50px;

  .starter-template {
    padding: 20px 0px;
    text-align: left;

    .log-status {
      padding-bottom: 20px;
    }
    .page-header {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  .nav{
    li.active {
      background-color: #dddddd;
    }
  }

  hr {
    border-top: 1px solid #eeeeee;
  }

  .btn-bottom-margin {
    margin-bottom: 10px;
  }

  footer {
    padding-top: 10px;
    border-top: 1px solid #cccccc;
  }
}




