body {
  padding-top: 50px;

  .starter-template {
    padding: 20px 0px;
    text-align: left;
  }

  hr {
    border-top: 1px solid #eeeeee;
  }

  footer {
    padding-top: 10px;
    border-top: 1px solid #cccccc;
  }
}




