/*
 = require_self
 *= require _bootstrap
 *= require app-template.css.scss
 *= require jquery.dataTables.css.scss
 *= require dataTables.tableTools
 *= require datepicker
 *= require approval_chain
 *= require weekend
 *= require salaat_times

 *= require shared
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


