/*
 = require_self
 *= require _bootstrap
 *= require app-template.css.scss
 *= require jquery.dataTables.css.scss
 *= require dataTables.tableTools
 *= require datepicker
 *= require approval_chain
 *= require weekend
 *= require salaat_times
 *= require employees
 *= require multi-select.css.erb

 *= require shared
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.notice{
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.required-asterisk{
  color: red;
}
.lebel-nonbold{
  color: black !important;
  font-size: small;
  font-weight: normal !important;
}