#select_employee, #selected_employee{
  min-height: 450px;
  min-width: 240px;
}

#select_employee, #selected_employee {
  color: black;
  option {
    padding-right: 10px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
  }
}

.link-button{
  color: white;
  text-decoration-color: white;
}

button, select{
  margin: 5px;
}
