table thead th, table tbody td:not(:first-child){
  text-align: center;
}
#individual-attendance-table{
}
h3{
//  font-size: 15px;
  font-family: "andale mono", "lucida console", monospace;
}
.notice{
  color: green;
}
.status{
  font-weight: bold;
}
#inTime{
  color: green;
}
#late {
  color: red;
}
#secondEntry{
  color: chocolate;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFA;
  border-style: solid none;
  border-width: 2px 0;
  margin: 18px 0;
}
#individual-attendance-table{
  width: auto;
}
.DTTT{
  float: right;
}
.in-out-button{
  line-height: 2;
  width: 80px;
  margin-left: 20px;
}

span{
  font-weight: bold;
  color: #004080;
}
.user-status, #total-employee{
  margin: 15px;
  font-size: 15px;
  font-family: "andale mono", "lucida console", monospace;
}
.btn[disabled]{
  background-color: gray;
  border: none;
}

.navbar-default .navbar-nav > li {
  border-left: 1px solid #e7e7e7;
}

#monthly-tracker {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

#modal-loading-image {
  width: 20px;
  display: none;
}

