// Place all the styles related to the honor_board_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.honor-board-content-list{

  border: 1px solid #ecfff2;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin: 10px;
  margin-bottom: 10px;


  font-size: 1.2em;
  font-family: "Nimbus Roman No9 L";
  height: 225px;

  .content-item-name{
    font-size: 1.3em;
    text-align: center;
    display: block;
    margin: 5px;
    word-break:break-all;
  }


  img {
    border-radius: 5px;
    height: 150px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .honor-board-content-list{


    font-size: 20px;

    img {
      width: 100%;

    }
  }
}

.item-reason {
  font-size: 1.3em;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.class404{
    align: center;
    font-family: "Nimbus Sans L";
  font-size: 1.7em;


}

.content-show-item {

  margin-left: 5px;
  clear: left;
  padding-left:130px;
}
