.notice {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* make sidebar nav vertical */
#leave-tracker-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

.page-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

table {
    border: 1px solid #e7e7e7;
}

table tbody tr th, .panel-body table tr td {
    width: 36%;
}

table.leave-log tbody tr th {
    width: 10%;
}

table.leave-log tbody tr td:nth-child(2),
table.leave-log tbody tr td:nth-child(4),
table.leave-log tbody tr td:nth-child(5),
table.leave-log tbody tr td:nth-child(7) {
    width: 15%;
}

table.leave-log tbody tr td:nth-child(3) {
    width: 30%;
}

table.leave-log tbody tr td:nth-child(6) {
    width: 10%;
}

.response-btn {
    padding-bottom: 10px;
}

.panel-title>a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma, Verdana, Arial, Helvetica;
}

span.pull-right {
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 12px;
}


@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}