.table-salaat {
  width: 100%;
  font-family: "Comic Sans MS";
  font-size: 24px;

  h4 {
    font-size: 28px;
  }
}
.table-salaat-static {
  font-family: "Comic Sans MS";
  font-size: 24px;
  th {
    text-align: center;
  }
  margin: 50px auto;
  width: 100%;
  text-align: center;
}
