// Place all the styles related to the weekend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body {
  .checkbox {
    margin-top: 0;
    input[type="checkbox"] {
      margin-left: 0;
    }
    label {
      padding-left: 25px;
      margin-top: 3px;
      margin-right: 10px;
    }
  }
}