.honor-board-header
  %h1 Honor Board Contents
.row
  .col-md-3
    =render partial: 'category_side_menu'
  .col-md-9

    - @contents.each do |content|
      .col-xs-12.col-md-4
        .honor-board-content-list
          =link_to honor_board_content_path(content) do
            .img-responsive
              =image_tag content.photo.url(:medium)
            .content-item-name
              =content.name
