%p
  Check in and out only when you come and leave office (means physical office). Do not check in and out from outside the office. Abusing time tracker will be considered as lack of integrity and will be dealt SERIOUSLY.
%br
  = link_to  'In', "/attendances", :method => :post, :class => 'btn btn-large btn-success in-out-button', :id => "in"
  = link_to 'Out', "/attendances/#{@todays_entry.id if @todays_entry.present?}", :method => :put, :class => 'btn btn-large btn-danger in-out-button', :id => "out"
  -#= link_to 'Notify Me!', '#', :onClick => 'notifyMe()'

:javascript
  function notifyMe() {
    // Let's check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }

    // Let's check if the user is okay to get some notification
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      var options = {
          body: "যোহরের  নামাজে যোগ দিন। ৫ মিনিট পর জামাত শুরু ",
          icon: "images/icon.png"
      };
      var notification = new Notification("আসসালামু আলাইকুম!", options);
    }

    // Otherwise, we need to ask the user for permission
    // Note, Chrome does not implement the permission static property
    // So we have to check for NOT 'denied' instead of 'default'
    else if (Notification.permission !== 'denied') {
      Notification.requestPermission(function (permission) {
        // Whatever the user answers, we make sure we store the information
        if (!('permission' in Notification)) {
          Notification.permission = permission;
        }

        // If the user is okay, let's create a notification
        if (permission === "granted") {
          var notification = new Notification("Hi there! 5 minutes to Zohr Prayer");
        }
      });
    }

    // At last, if the user already denied any notification, and you
    // want to be respectful there is no need to bother them any more.
  }