= hidden_field_tag :todays_entry, @todays_entry
#in_out
  = render partial: 'in_out'
%br
#attendance-summary
= render partial: 'monthly_attendance_tracker'
%br
#daily-tracker
  = render partial: 'daily_attendance_tracker'
%br