= hidden_field_tag :todays_entry, @todays_entry
#in_out
  = render partial: 'in_out'
%hr
#monthly-tracker
  #loading-image
    = image_tag 'ajax-loader.gif'
%br
%hr
#daily-tracker
  = render partial: 'daily_attendance_tracker'
%br

:javascript
  $(document).ready(function(){

      $.ajax({
          url: "/attendances/monthly_report",
          type: "GET",
          dataType: 'script',
          beforeSend: function() {
              $("#loading-image").show();
           },
           success: function(msg) {
              $("#loading-image").hide();
              $('#monthly-attendance-table, #raw-data-table').dataTable({
                      "order": [[ 1, "desc" ]],
                      "iDisplayLength": 100,
                      dom: 'T<"clear">lfrtip',
                      tableTools: {
                          "sSwfPath": "http://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf",
                          "aButtons": ["pdf", "print", "xls" ]
                      }

                  });
           }
      });
  })