= link_to 'Back', root_path, class: 'btn btn-primary'
%br
%br
.bs-example
  %table.table.table-hover.table-bordered#hidden-names
    %thead
      %tr
        %th Name
        %th Email
        %th Show
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= link_to image_tag('unhide.png'), show_name_attendance_path(:id => user.id), :remote => true, :title => 'Show Name'