%h1 Honor Board
.container
  .starter-template
    .row
      .col-sm-3
        .panel-default
          =render partial: 'honor_board_categories/category_side_menu'

      .col-sm-9
        .row
          -@honor_board_contents.each do |content|
            .col-sm-4
              .honor-board-content-list
                =link_to honor_board_content_path(content) do
                  .img-responsive
                    =image_tag content.photo_url(:medium)
                  .content-item-name
                    =content.name



