.class404background
  .class404
    =link_to root_path do
      =image_tag '404.jpg'
    .class404link
      =link_to "Back to Home", root_path



:css
  .class404 a{
   display: block;

  }
  .class404 a img{
   width: 80%;
   height: 500px;
   margin: 5px auto;
   display: table;
  }
  .class404link {
   margin: 0 auto;
   display: table;
  }

  .class404 a{
   display: block;

  }
  .class404 a img{
   margin: 0 auto;
   display: table;
  }
  .class404link {
   margin: 0 auto;
   display: table;
  }

